.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 4rem 10rem;
}

.card-container {
  flex-direction: row;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 18rem;
  height: 22rem !important ;
  border-radius: 5px;
  min-width: 15rem;
}

.card-header {
  font-size: 1.8rem;
}
.card-body {
  margin: 1rem;
}
.card-title {
  font-size: 2rem;
}
.card-text {
  margin: 1rem 0 3rem 0;
}

.headline-text {
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  margin: 0 10rem 5rem 10rem !important;
}

button:hover {
  background-color: white !important;
  color: blue !important;
}
.slider-container {
  margin-top: 2rem;
}
.slider-headline {
  font-size: 1.5rem;
}

.slider {
  width: 20rem;
}

.card-highlight {
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px #888888;
}

.slider:hover {
  opacity: 1;
}
